:root {
  --primary: #2563eb;
  --danger: #dc2626;
  --success: #16a34a;
  --warning: #ca8a04;
  --bg: #f1f5f9;
}

body {
  font-family: "Segoe UI", sans-serif;
  background: var(--bg);
  margin: 0;
  padding: 20px;
}
.container {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.hidden {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

input,
textarea,
select {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: 1px solid #cbd5e1;
  border-radius: 6px;
  box-sizing: border-box;
}

button {
  padding: 12px 20px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
  margin-top: 10px;
}
#loginBtn,
#submitIssue {
  background: var(--primary);
  color: white;
}
.secondary {
  background: #64748b;
  color: white;
}
.danger {
  background: var(--danger);
  color: white;
  width: auto;
}

.card {
  border: 1px solid #e2e8f0;
  padding: 20px;
  margin-top: 15px;
  border-radius: 8px;
  background: #fff;
  transition: 0.3s;
}
.priority-High {
  border-left: 8px solid var(--danger);
}
.priority-Medium {
  border-left: 8px solid var(--warning);
}
.priority-Low {
  border-left: 8px solid var(--success);
}

.meta {
  font-size: 0.85rem;
  color: #64748b;
  margin-top: 10px;
}
.actions {
  margin-top: 15px;
  display: flex;
  gap: 10px;
}
.actions button {
  width: auto;
  padding: 8px 15px;
  font-size: 0.8rem;
}
